.zone-hidden-input {
	width: 0px !important;
	height: 0px !important;
	display: none !important;
	opacity: 0 !important;
	z-index: -99999;
}

.zone-parent {
	position: relative;
}

.zone-modal {
	width: 100%;
	position: absolute;
	max-height: 150px;
	background: white;
	overflow: auto;
	border: 1px solid #ddd;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	border-top: 0px;
	box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.17);
	display: none;
}

.zone-modal.d-block {
	display: block !important;
}

.zone-modal-p,
.zone-modal-p-err {
	font-family: Arial;
	font-size: 14px;
	padding: 10px 18px;
	margin: 0 !important;
	border-bottom: 1px solid #f3f3f3;
	color: black;
	transition: 0.15s ease-in-out;
	cursor: pointer;
}

.zone-modal-p:hover {
	background: #f3f3f3;
}

.zone-modal-p-err {
	color: #d0355c;
	cursor: auto;
	cursor: default;
}
